---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const { data, render } = await getEntry("pages", "about");
const { Content } = await render();
---

<Layout title="About">
  <div class="container mx-auto">
    <div class="md:flex w-full max-w-4xl items-center gap-6 my-20">
      <Image
        class="rounded-3xl"
        src="/images/helen-about.webp"
        alt="Picture of Helen Curtis"
        width="400"
        height="650"
      />
      <div>
        <h1 class="text-8xl">{data.heading}</h1>
        <h2 class="text-2xl text-slate-600">{data.subHeading}</h2>
      </div>
    </div>
    <article
      class="prose bg-white p-10 border-slate-700 border-4 rounded-lg lg:ml-44"
    >
      <Content />
    </article>
  </div>
</Layout>
