---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Sidenav from "../layouts/Sidenav.astro";
import Surface from "../components/Surface.astro";
import Banner from "../components/HeroBanner.astro";

const { data, render } = await getEntry("pages", "home");
const { Content } = await render();
---

<Layout title="Home">
  <div class="container px-5 mx-auto">
    <div class="flex justify-center">
      <Banner
        heading={data.heading}
        subheading={data.subheading}
        imgSrc="/images/helen-at-piano.webp"
        imgAlt="Helen Curtis Music logo"
        imgWidth={350}
        imgHeight={312}
      />
    </div>
    <div class="flex justify-center gap-5">
      <Sidenav />
      <Surface class="prose grow">
        <article class="prose">
          <Content />
        </article>
      </Surface>
    </div>
  </div>
</Layout>
