---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Sidenav from "../layouts/Sidenav.astro";
import Surface from "../components/Surface.astro";
import Banner from "../components/HeroBanner.astro";

const { data, render } = await getEntry("pages", "home");
const { Content } = await render();
---

<Layout title="Home">
  <div class="container mx-auto">
    <div class="grid grid-cols-6">
      <div class="col-span-6 md:col-start-0 lg:col-start-0 mx-auto">
        <Banner
          heading={data.heading}
          subheading={data.subheading}
          imgSrc="/images/helen-at-piano.webp"
          imgAlt="Helen Curtis Music logo"
          imgWidth={350}
          imgHeight={312}
        />
      </div>
      <div class="col-span-6">
        <Surface class="mx-5">
          <div class="flex gap-2">
            <article class="prose">
              <Content />
            </article>
            <Sidenav />
          </div>
        </Surface>
      </div>
    </div>
  </div>
</Layout>
