---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Sidenav from "../layouts/Sidenav.astro";
import Surface from "../components/Surface.astro";

const { data, render } = await getEntry("pages", "tuition");
const { Content } = await render();
---

<Layout title={data.heading}>
  <div class="container px-5 mx-auto">
    <div class="text-center my-10 md:my-20 mx-10">
      <h1 class="text-5xl md:text-8xl inline">
        {data.heading}
      </h1>
    </div>
    <div class="flex justify-center gap-8">
      <Sidenav />
      <Surface class="prose grow">
        <article>
          <Content />
        </article>
      </Surface>
    </div>
  </div>
</Layout>
