---
interface Props {
  heading: string;
  subheading?: string;
  imgSrc: string;
}

const { props } = Astro;
---

<div
  class="my-8 border group hover:bg-slate-50 overflow-hidden rounded shadow-sm lg:flex"
>
  {
    props.imgSrc && (
      <img
        loading="lazy"
        src={props.imgSrc}
        alt={props.heading}
        class="w-full h-56 group-hover:brightness-110 object-cover object-center lg:w-56
    lg:h-auto"
      />
    )
  }
  <div class="p-4">
    <span class="text-sm text-slate-500">
      {props.subheading}
    </span>
    <h2 class="text-xl text-slate-900 font-semibold my-5">
      {props.heading}
    </h2>
    <slot />
  </div>
</div>
