---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  heading: string;
  subheading?: string;
  imgSrc?: ImageMetadata;
  imgAlt?: string;
}

const { props } = Astro;
---

<div
  class="group my-8 overflow-hidden rounded border shadow-sm hover:bg-slate-50 lg:flex"
>
  {
    props.imgSrc && (
      <Image
        loading="lazy"
        height={300}
        src={props.imgSrc}
        alt={props.imgAlt ?? props.heading}
        class="h-56 w-full object-cover object-center group-hover:brightness-110 lg:h-auto lg:w-56"
      />
    )
  }
  <div class="p-4">
    <span class="text-sm text-slate-500">
      {props.subheading}
    </span>
    <h2 class="my-5 text-xl font-semibold text-slate-900">
      {props.heading}
    </h2>
    <slot />
  </div>
</div>
