---
import { Image } from "astro:assets";
import pianoImg from "../assets/images/helen-piano-587-587.webp";
import vocalImg from "../assets/images/helen-vocal-293-293.webp";
import percussionImg from "../assets/images/congas-800-800.webp";
import workshopsImg from "../assets/images/helen-samba-730-730.webp";

const sideNav = [
  {
    imgSrc: pianoImg,
    label: "Piano",
    link: "/music#piano",
    imgAlt: "Helen playing the piano",
  },
  {
    imgSrc: vocalImg,
    label: "Vocal",
    link: "/music#vocal",
    imgAlt: "Helen singing",
  },
  {
    imgSrc: percussionImg,
    label: "Percussion",
    link: "/music#percussion",
    imgAlt: "Congas being played",
  },
  {
    imgSrc: workshopsImg,
    label: "Workshops",
    link: "/tuition#workshops",
    imgAlt: "Helen leading a samba workshop",
  },
];
---

<div class="hidden flex-col items-center gap-3 sm:flex">
  {
    sideNav.map((item) => (
      <a class="group" href={item.link} data-astro-reload>
        <Image
          class="transform rounded-full shadow-md group-hover:rotate-3 group-hover:scale-105"
          src={item.imgSrc}
          alt={item.imgAlt}
          densities={[1, 1.5]}
          height="100"
          width="100"
        />
        <p class="text-center text-lg font-semibold group-hover:underline">
          {item.label}
        </p>
      </a>
    ))
  }
</div>
